@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    font-family: 'Young Serif', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
    color: rgb(37, 75, 47);
}